{:kotoba.app/id "cloud.itonami.isic-873", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidkebpvo2wfami7rftxxhxytlxub4komsdd4qhrk5plgbvktg4kui", :kotoba.app/embed-url "ipfs://bafkreidkebpvo2wfami7rftxxhxytlxub4komsdd4qhrk5plgbvktg4kui", :published {:archive "https://kotobase.net/ipfs/bafkreidkebpvo2wfami7rftxxhxytlxub4komsdd4qhrk5plgbvktg4kui", :size 72854, :put-status 201, :get-status 200, :at "2026-08-15T13:54:58.355Z"}}
